@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
header{
    background-color: black;
}
nav{
    background-color: red;
}
body{
 margin: 0;
 text-align: center;
 font-family:"PT Serif", serif;
 background-color: white;
 color:white;
 font-size: 22px;
}